
.board-Grid{
    width: 100%;
    background: rgb(68, 71, 71);
    border-color: white;
    padding: 0.3rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    column-gap: 0.1rem;
    row-gap: 0.1rem;
  }